<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <title>Gaffclant</title>
</head>
<body>
<div class="navbar">
    <nav>
        <ul>
            <li><a
                    {% if index %}
                    class="active"
                    {% endif %}
                    href="/#">Home</a></li>
            <li><a
                    {% if blg %}
                    class="active"
                    {% endif %}
                    href="/blog">Blog</a></li>
            <li><a
                    {% if admin %}
                    class="active"
                    {% endif %}
                    href="/admin">Admin</a></li>
            <li><a href="https://github.com/gaffclant">Github</a></li>
            <li><a href="mailto:gaffclant@gmail.com">Contact me</a></li>
            <li style="float:right"><a
                    {% if about %}
                    class="active"
                    {% endif %}
                    href="about">About me</a></li>
        </ul>
    </nav>
</div>
<div class="header">
    <h1>{% block head%}{% endblock %}</h1>
    <h4>{% block sub%}{% endblock %}</h4>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <ul>
        <li>
            <p><a href="https://cherrypy.dev">Made using CherryPy</a></p>
        </li>
        <li>
            <p><a href="https://jinja.palletsprojects.com/en/3.0.x/">Templating with Jinja</a></p>
        </li>
        <li>
            <p><a href="https://xkcd.com/">Thanks XKCD for the cool comics</a></p>
        </li>
        <li>
            <p><a href="https://highlightjs.org/">HighlightJS for syntax highlighting</a></p>
        </li>
    </ul>
</footer>

</body>
</html>
