{% extends "templates/base.html" %}
{% block head %}About Me{% endblock %}
{% block sub %}Computer Science student{% endblock %}
{% block content %}
<div class="blog-content">
    {% autoescape off %}
    <h2>Who am I?</h2>
    <p>
        Welcome to my site! My name is Nicolas Gaffney, but you can call me Nic.
        I am currently a Junior in highschool, and I am enrolled in computer science and enginnering classes.
        I use Arch Linux with DWM as my daily driver, and I enjoy customizing my system to make it look pretty.
        I can make Discord bots, websites (much like this one), API's, webscrapers and much more!
        In my free time, I spend time programming and playing video games.
    </p>
    <h2>What are my goals?</h2>
    <p>
        In the future, I hope to enroll into UT Austin and major in computer science or aerospace engineering.
        After I graduate college, I want to get a job at a space agency, hopefully SpaceX.
        My ideal position would be a computer scientist or aerospace engineer.
        In general I want a job involving computers and space.
    </p>
    {% endautoescape %}

</div>
{% endblock %}
